@CHARSET "UTF-8";

html {
	   	height: 100%;
}

body {
	font-family: verdana,helvetica,arial,sans-serif; 
	position: relative;
	background: #EEE;
	color: #333; 
   	height: 100%;
	font-size: 20px;
}

a 
{ 
	outline: 0; 
	color: #ddd; 
	margin: 0;
	padding: 0;
	text-decoration:none;
}

.img_title {
    margin: 10px;
	padding: 10px;
	text-align: center;
}

.button {
    margin: 10px;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	background: #D00;
    cursor: pointer;

    margin-left: auto;
   	margin-right: auto;
   	width: 400px;

    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;

    -moz-box-shadow:    3px 3px 5px rgba(0,0,0,.2); /* -- repeating rgba shadow color 3 times        */
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.2); /*    is not very nice when you count every byte */
    box-shadow:         3px 3px 5px rgba(0,0,0,.2); /*    so this is shortest value possible ;)      */
}

.button:hover { 
	background: #F00;	 
	font-size: 24px;
	width: 410px;
}

.bloc {
	display: block;
	background: #CCC;
	margin: 20px;
	padding: 20px;
	text-align: center;
    margin-left: auto;
   	margin-right: auto;
   	width: 1000px;

    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

.titre {
	display: inline-block;
	background: #F00;
	margin: 20px;
	padding: 20px;
	text-align: center;
   	width: 20%;
   	height: 100%;
   	color: #DDD;
   	font-size: 22px;
   	font-weight:bold;
   	vertical-align:middle;
   	
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

.description {
	display: inline-block;
	text-align: left;
	width: 600px;
   	vertical-align:middle;
}
